{% extends "master.html" %}
{% block content %}
<div class="container">
    <div class="d-flex flex-wrap justify-content-center">
        <a class="card cy-dashboard">
            <div class="card-body">
                <div class="cy-card-image">
                    <i class="card-img-top fas fa-users fa-5x fa-fw"></i>
                </div>
                <h5 class="card-title" style="text-align: center">Users</h5>
                <p class="card-text">
                    View, Edit and Create Users
                </p>
            </div>
        </a>
        <a class="card cy-dashboard" href="eventroles">
            <div class="card-body">
                <div class="cy-card-image">
                    <i class="card-img-top fas fa-users-cog fa-5x fa-fw"></i>
                </div>
                <h5 class="card-title" style="text-align: center">Event Roles</h5>
                <p class="card-text">
                    View, Edit and Create Event Roles
                </p>
            </div>
        </a>
        <a class="card cy-dashboard">
            <div class="card-body">
                <div class="cy-card-image">
                    <i class="card-img-top fas fa-money-bill fa-5x fa-fw"></i>
                </div>
                <h5 class="card-title" style="text-align: center">Charge Types</h5>
                <p class="card-text">
                    View, Edit and Create Charge Types
                </p>
            </div>
        </a>
        <a class="card cy-dashboard" href="weather">
            <div class="card-body">
                <div class="cy-card-image">
                    <i class="card-img-top fas fa-cloud-sun-rain fa-5x fa-fw"></i>
                </div>
                <h5 class="card-title" style="text-align: center">Weather Conditions</h5>
                <p class="card-text">
                    View, Edit and Create Weather Conditions
                </p>
            </div>
        </a>
        <a class="card cy-dashboard">
            <div class="card-body">
                <div class="cy-card-image">
                    <i class="card-img-top fas fa-toolbox fa-5x fa-fw"></i>
                </div>
                <h5 class="card-title" style="text-align: center">Event Types</h5>
                <p class="card-text">
                    View, Edit and Create Weather Conditions
                </p>
            </div>
        </a>
        <a class="card cy-dashboard">
            <div class="card-body">
                <div class="cy-card-image">
                    <i class="card-img-top fas fa-compass fa-5x fa-fw"></i>
                </div>
                <h5 class="card-title" style="text-align: center">Event Locations</h5>
                <p class="card-text">
                    View, Edit and Create Weather Conditions
                </p>
            </div>
        </a>
        <a class="card cy-dashboard">
            <div class="card-body">
                <div class="cy-card-image">
                    <i class="card-img-top fas fa-handshake fa-5x fa-fw"></i>
                </div>
                <h5 class="card-title" style="text-align: center">Partnerships</h5>
                <p class="card-text">
                    View, Edit and Create Weather Conditions
                </p>
            </div>
        </a>
    </div>
</div>
{% endblock %}